@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Application uses</h2>
        <div id="myComponentContainer">
            @Component.InvokeAsync("ServerDetails").Result 
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var refreshComponent = function () {
            $.get("Home/RefreshData", function (data) {
                $("#myComponentContainer").html(data);
            });
        };

        $(function () { window.setInterval(refreshComponent, 1000); });
    });


</script>